In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

convert datime to int  use datetime modulus: https://docs.python.org/3/library/datetime.html; 
- import from datetime import datetime
- e.g. basic idea is to parse string into datetime object. # string, sql, is the neck of the process, you can image it as encoder
datatime_object = datetime.strptime('06/15/2016 09:54:58.5399','%m/%d/%Y %I:%M:%S.%f')

In [14]:
df = pd.read_csv('HEP0208.csv', header = 1, usecols=range(4))
df.info()
#df['delta'] = (df['Data $ Time']-df['tvalue'].shift()).fillna(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2726 entries, 0 to 2725
Data columns (total 4 columns):
Date & Time         2726 non-null object
Pressure (psig)     2726 non-null float64
Pressure (VDC)      2726 non-null float64
Excitation (VDC)    2726 non-null float64
dtypes: float64(3), object(1)
memory usage: 85.3+ KB

In [31]:
from datetime import datetime

In [49]:
#datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b/%d/%Y %I:%M%p')
#datatime_object = datetime.strptime('06/15/2016 09:54:58.5399','%m/%d/%Y %I:%M:%S')
datatime_object = datetime.strptime('06/15/2016 09:54:58.5399','%m/%d/%Y %I:%M:%S.%f')
datatime_object

datetime.datetime(2016, 6, 15, 9, 54, 58, 539900)

In [53]:
df['new_time'] = df['Date & Time'].apply(lambda x: datetime.strptime(x,'%m/%d/%Y %H:%M:%S.%f'))

,Date & Time,Pressure (psig),Pressure (VDC),Excitation (VDC),new_time
0,06/15/2016 09:54:58.5399,14.455476,30.040401,1.224999,2016-06-15 09:54:58.539900
1,06/15/2016 09:54:58.5409,14.456463,30.035150,1.225015,2016-06-15 09:54:58.540900
2,06/15/2016 09:54:58.5409,14.455460,30.038915,1.224999,2016-06-15 09:54:58.540900
3,06/15/2016 09:54:58.5409,14.456260,30.037234,1.225012,2016-06-15 09:54:58.540900
4,06/15/2016 09:54:58.5409,14.455407,30.037897,1.224998,2016-06-15 09:54:58.540900
5,06/15/2016 09:54:58.5409,14.456991,30.036604,1.225024,2016-06-15 09:54:58.540900
6,06/15/2016 09:54:58.5409,14.458247,30.032451,1.225044,2016-06-15 09:54:58.540900
7,06/15/2016 09:54:58.5409,14.457031,30.030883,1.225024,2016-06-15 09:54:58.540900
8,06/15/2016 09:54:58.5419,14.455476,30.030738,1.224999,2016-06-15 09:54:58.541900
9,06/15/2016 09:54:58.5419,14.457455,30.030997,1.225031,2016-06-15 09:54:58.541900

In [59]:
a = df['new_time'] - df['new_time'].shift(1)
df['new_time_1']= df['new_time'].apply(lambda x: (x-df['new_time'].iloc[0]).total_seconds())

In [66]:
df_new = df.groupby(['new_time_1'], axis=0, as_index=False).mean()

In [67]:
df_new.head()

   new_time_1  Pressure (psig)  Pressure (VDC)  Excitation (VDC)
0       0.000        14.455476       30.040401          1.224999
1       0.001        14.456551       30.035591          1.225017
2       0.002        14.457424       30.064422          1.225031
3       0.003        14.456744       30.082803          1.225020
4       0.004        14.456017       30.073692          1.225008